<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/listings">
            <img src="/logo.png" alt="logo" height="50" class="me-2">
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <i class="bi bi-three-dots-vertical fs-3"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color: white;">
            <div class="navbar-nav d-flex flex-column px-3 mt-3 mt-md-0 flex-md-row align-items-start align-items-md-center gap-2">
                <div class="custom-border rounded">
                    <a class="nav-link d-inline-block hover-glow rounded px-3" href="/listings">Explore</a>
                </div>
                
            </div>

            <div class="navbar-nav ms-md-auto px-3 py-2 pb-4 pb-md-2 d-flex flex-column flex-md-row align-items-start align-items-md-center gap-2">
                <div class="custom-border rounded">
                    <a class="nav-link d-inline-block hover-glow rounded px-3" href="/listings/new">Host on Wandrly</a>
                </div>    
                             
                
                <% if (!currUser) { %>
                    <a class="btn btn-outline-primary px-3" href="/signup"><b>Sign Up</b></a>
                    <a class="btn btn-outline-primary px-3" href="/login"><b>Login</b></a>
                <% } else { %>
                    <a class="btn btn-outline-primary px-3" href="/logout"><b>Logout</b></a>
                <% } %>
            </div>

        </div>
    </div>
</nav>
