<% layout('layouts/boilerplate') %> 
<body>
    <div class="row">
        <div class="col-4 offset-4 mb-3">
            <br><br>
            <h3>Create your account</h3>
            <br>
            <form method="post" action="/signup" novalidate class="needs-validation">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Enter Username" required>
                    <label for="floatingUsername">Username</label>
                    <div class="invalid-feedback">Username cannot be empty.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="Enter Email" required>
                    <label for="floatingEmail">Email</label>
                    <div class="invalid-feedback">Email cannot be empty.</div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Create Password" minlength="8" required>
                    <label for="floatingPassword">Password</label>
                    <div class="invalid-feedback">Password should be of minimum 8 characters.</div>
                </div>

                <button class="btn btn-primary">Signup</button>
            </form>
        </div>
    </div>
</body>